@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: auto;
  padding-top: 25px;
}

.container :hover {
  transition: 0.1s;
}

.items:hover {
  background-color: rgb(223, 221, 218);
}

.items-info{
  font-size: 22px;
  margin-top: 25px;
}

.table-wrapper {
  max-height: 75vh;
  overflow-y: auto;
  border: 1px solid white;
  position: relative;
}

.drop-item {
  background-color: darkgray;
}
.drop-item :hover {
  background-color: lightgray;
}

.select {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}

.label{
  font-size: 40px;
}

.input-field {
  width: 30%;
}

.pagination {
  background-color: chocolate;
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  color: white;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  position: relative;
}

.table-container thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #0a0a0a;
}

.table-container thead th {
  background-color: #0a0a0a;
  padding: 12px 16px;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
  font-weight: bold;
  text-align: left;
}

.table-container thead th:first-child {
  border-left: 1px solid white;
}

.table-container tbody td {
  padding: 8px 16px;
  border-bottom: 1px solid #fcf9f9;
  border-right: 1px solid #fdf8f8;
}

.table-container tbody td:first-child {
  border-left: 1px solid #f7f3f3;
}

.table-container tbody tr:hover {
  background-color: #2a2a2a;
}

.close-button {
  border: 1px solid;
  background-color: #a14c4c;
  padding: 7px;
  margin-top: 15px;
}

.modal-content,
.close-modal-content {
  position: relative;
  margin: auto;
  width: fit-content;
  max-width: 150%;
  background-color: #1a1a1a;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 6px 20px rgba(0, 0, 0, 0.19);
}


.modal-body {
  width: 100%;
  box-sizing: border-box;
}

.close-modal-content {
  animation-name: animatedown;
}

@keyframes animatetop {
  from { top: -300px; opacity: 0; }
  to { top: 0; opacity: 1; }
}

@keyframes animatedown {
  from { top: 0; opacity: 1; }
  to { top: -300px; opacity: 0; }
}
